{% extends '_mdb/mdb_base_without_sidebar.html.twig' %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block pagetop_fluid %}
    {{ include ("_mdb/mdb_page_top_section.html.twig", {
        'title' : 'Datos del usuario',
        'link' : {
            'back' : path('usuario_index', {'estado' : 'activo'}),
            'submit' : 'Confirmar'
        }
    }) }}
{% endblock %}

{% block body_fluid %}
    <div class="white">
        <div class="row mb-3">
            <div class="col-12">
                <div class="my-alert alert-danger text-justify">Por motivos de seguridad, es necesario que cambie la contraseña asignada inicialmente.
                    Posteriormente podrá comenzar a trabajar en el sistema.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="margin-right: 3px;">
                <div class="file-field" >
                    <img  id="profile-photo" src="
            {% if usuario.foto %}
                   {{ asset('uploads/fotos_trabajadores/') }}{{ usuario.foto }}
               {% else %}
                   {% if usuario.sexo == 'Masculino' %}
                       {{ asset('images/male.jpg') }}
                   {% elseif usuario.sexo == 'Femenino' %}
                       {{ asset('images/female.jpg') }}
                   {% else %}
                        {{ asset('images/generic.jpg') }}
                   {% endif %}
               {% endif %}
            " class="thumbnail rounded z-depth-1-half avatar-pic float-left" style="width: 150px; height: 150px;" alt="example placeholder avatar">
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12"><h4 class="trabajador-nombre">{{ usuario.nombreCompleto }}</h4></div>
                    <div class="col-2 mb-2"><div class="text-primary fw-500">Usuario</div> {{ usuario.username }}</div>
                    <div class="col-3 mb-2"><div class="text-primary fw-500">Correo electrónico</div> {{ usuario.email }}</div>
                    <div class="col-7 mb-2"><div class="text-primary fw-500">Rol{% if usuario.rolesObjects | length > 1 %}es{% endif %}</div>
                        {% for rol in usuario.rolesObjects %}
                            <li style="list-style: none;">{{ rol.nombre }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    {% if form.password is defined %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 md-form">{{ form_row(form.password.first) }}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 md-form">{{ form_row(form.password.second) }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_end %}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest' : false }) }}
{% endblock %}
