<!DOCTYPE html>
<html lang="es">
<head>
{#    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('assets/css/other/dashboard.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('assets/css/signin.css') }}">#}
{#    <link rel="shortcut icon" href="{{ asset('assets/favicon.png') }}">#}
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/fontawesome.css') }}">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="{{ asset('assets/fonts/googlefonts/googlefonts.css') }}?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/bootstrap4/css/bootstrap.min.css') }}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/mdb4pro/css/mdb.min.css') }}">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="{{ asset('assets/bootstrap4/css/styles4.css') }}">
    <!-- Glyphicons -->
    <link rel="stylesheet" href="{{ asset('assets/css/glyphicons.css') }}">
    <style>
        #wallpaper{
            z-index: -1;
            position: absolute;
            top: -50px;
            opacity: 0.5;
            width: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>{{ system_title }}</title>
</head>

<body style="overflow: hidden;">
    <div class="container">
        <div class="col-6">
            <!-- Material form login -->
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Sign in</strong>
                </h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" action="#!">
                        <!-- Email -->
                        <div class="md-form">
                            <input type="text" name="_username" id="materialLoginFormEmail" class="form-control">
                            <label for="materialLoginFormEmail">Usuario</label>
                        </div>
                        <!-- Password -->
                        <div class="md-form">
                            <input type="password" name="_password" id="materialLoginFormPassword" class="form-control">
                            <label for="materialLoginFormPassword">Contraseña</label>
                        </div>
                        <!-- Subject -->
                        <span>Subject</span>
                        <select class="mdb-select">
                            <option value="" disabled>Choose option</option>
                            <option value="1" selected>Feedback</option>
                            <option value="2">Report a bug</option>
                            <option value="3">Feature request</option>
                            <option value="4">Feature request</option>
                        </select>
                        <!-- Sign in button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Iniciar sesión</button>
                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form login -->
        </div>
    </div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{ asset('assets/mdb4pro/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/mdb4pro/js/mdb.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/bootstrap4/vendor/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/bootstrap4/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/bootstrap4/vendor/jquery-slim.min.js') }}"></script>
<!-- Document ready -->
<script type="text/javascript" src="{{ asset('assets/mdb4pro/js/mdb.document.ready.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('assets/js/bootstrap.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/js/jquery-1.2.6.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/js/jquery-1.3.1.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/js/rev/jquery.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/js/rev/bootstrap.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/js/alerts/bootstrap-auto-dismiss-alert.js') }}"></script>#}
</html>