<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/other/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/signin.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/favicon.png') }}">
    <meta charset="UTF-8">
    <title>Sistema de Gestión Empresarial</title>
</head>

<body>
<div class="container">
    <h1>Autenticacion base de datos</h1>
    <form  class="form-signin" action="{{ path('login_check') }}" method="post">
        <h4 class="form-signin-heading"><center>Sistema de Gestión Empresarial</center></h4>
            <center>
                <img id="form-login-logo" src="{{ asset('uploads/empresas/') }}{{ miEmpresa.empresa.logo }}">
            </center>
        {% if error %}
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p><i class="fa fa-warning"></i> Usuario o contrase&ntilde;a incorrecta</p>
            </div>
        {% endif %}
        <label for="username">Usuario:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" autofocus>
        </br>
        <label for="password">Contrase&ntilde;a:</label>
        <input class="form-control" type="password" id="password" name="_password">
        <!--<label class="checkbox">
            <input type="checkbox" value="remember-me"> ¿Recordar contrase&ntilde;a?
        </label>-->
        <input type="hidden" name="_csrf_token" value="new_value">
        {#
        Si deseas controlar la URL a la que rediriges al usuario en caso de éxito (más detalles abajo)
        <input type="hidden" name="_target_path" value="/account" />
        #}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesi&oacute;n</button>
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery-1.2.6.js') }}"></script>
</body>

<!-- Mirrored from getbootstrap.com/examples/signin/ by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 02 Oct 2013 12:14:41 GMT -->
</html>
