<div class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <div class="nav-item pl-2" role="presentation">
        <form id="find-start-end-date-form" method="post" {% if action is defined %} action="{{ action }}">{% endif %}
            <div class="form-inline">
                <div class="md-form" style="margin: 0;">
                    <input class="mr-2 form-control form-control-sm pull-left datepicker" name="fecha_inicio" placeholder="Fecha inicio">
                </div>
                <div class="md-form" style="margin: 0;">
                    <input class="mr-2 form-control form-control-sm pull-left datepicker" name="fecha_fin" placeholder="Fecha fin">
                </div>
                <button id="find-start-end-date" name="submit" class="btn btn-info btn-sm pull-left form-control" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                <a class="btn btn-primary btn-sm pull-left form-control" {% if action is defined %} href="{{ action }}" {% endif %}><span class="glyphicon glyphicon-th"></span> Mostrar todos</a>
                {% if elem is defined and title is defined %}
                <a type="button" class="btn btn-secondary btn-sm pull-left form-control" data-toggle="modal" href="#chartModal"><img class="svg svg-invert" src="/sitec/public/assets/zondicons/chart-pie.svg" style="height: 100%; margin-right: 0px;"></a>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="nav-item ml-auto p-2">
        {% if ingreso is defined and gasto is defined %}
            <span class="glyphicon glyphicon-arrow-up text-success"></span> $ {{ ingreso | number_format(2,'.',' ') }}  
            <span class="glyphicon glyphicon-arrow-down text-danger"></span> $ {{ gasto | number_format(2,'.',' ') }}
        {% endif %}
        {% if cantidades is defined and gasto is defined %}
            <span class="glyphicon glyphicon-shopping-cart text-success"></span> {{ cantidades }}  
            <span class="glyphicon glyphicon-arrow-down text-danger"></span> $ {{ gasto | number_format(2,'.',' ') }}
        {% endif %}
    </div>
</div>

{% if elem is defined and title is defined %}
<div id="chartModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="myLargeModalLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="canvas-holder" style="width:100%">
                    <canvas id="chart"></canvas>
                </div>
            </div>
            <div class="modal-footer">
                <p class="mr-3">Total: {{ elem | length }}</p>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
{% endif %}