{% extends '_mdb/mdb_base.html.twig' %}

{% block pagetop_fluid %}
    {{ include ("_mdb/mdb_page_top_section.html.twig", {
        'title' : 'Cargo',
        'link' : {
            'back' : path('cargo_index'),
            'ops' : is_granted('ROLE_ADMINISTRADOR_NEGOCIO') ? {
                'edit' : path('cargo_edit', { 'id': cargo.id }),
                'delete' : null
            } : '#'
        }
    }) }}
{% endblock %}

{% block body_fluid %}
    <div class="white">
        <table class="table no-first-border table-xs">
            <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ cargo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ cargo.descripcion | empty_value_ne }}</td>
            </tr>
            <tr>
                <th>Plazas ocupadas ({{ cargo.plazasOcupadas | length }})</th>
                <td>{% for plaza in cargo.plazasOcupadas %}
                        <li>{{ plaza.nombreCompleto }}</li>
                    {% else %}
                        No hay trabajadores ocupando este cargo
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        {{ include('_mdb/mdb_metadata.html.twig', {'elem' : cargo}) }}
        {{ include('_mdb/mdb_delete_modal.html.twig') }}
    </div>
{% endblock %}
