{% extends 'assets_views/document.html.twig' %}

{% set footer = 'Servicios Integrales Tecnológicos – Esquina de Tejas entre 10 de octubre y San Joaquín – Teléfono: 78795048' %}

{% block document %}
    <table class="table table-xs">
        <thead>
        <tr>
            <th colspan="5">
                <table class="table-bordered" style="background-color: white; table-layout: fixed; width: 100%;">
                    <tr>
                        <td rowspan="3" colspan="1" class="p-3 pb-0">
                            <img src="{{ app.request.schemeAndHttpHost }}{{ asset('assets/institucional/sitec-logo-horizontal.jpg') }}" style="width: 100%;">
                        </td>
                        <td rowspan="3" colspan="4" class="text-blue-sitec p-3 pb-0" style="font-weight: bold; text-transform: uppercase; font-size: 20px; text-align: center;">
                            <h3>Operaciones contables<br> Fecha: {{ fecha }} </h3>
                        </td>
                    </tr>
                </table>
                <div class="text-center p-1 institucional-text"><small>{{ footer }}</small></div>
            </th>
        </tr>
        <tr>
            <th>Fecha</th>
            <th>Tipo operac.</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Saldo entrada</th>
            <th>Saldo salida</th>
        </tr>
        </thead>
        <tbody>
        {% for operacion in operacion_contables %}
            <tr>
                <td>{{ operacion.created | date('Y/m/d H:i:s') }}</td>
                <td>{{ operacion.tipoOperacion }}</td>
                <td>{{ operacion.codigo }}</td>
                <td>{{ operacion.descripcion }}</td>
                <td class="no-wrap">{% if operacion.tipoOperacion == 'CR' %}<span style="float: right;">$ {{ operacion.saldo | number_format(2,'.',' ')}}</span>{% endif %}</td>
                <td class="no-wrap">{% if operacion.tipoOperacion == 'DB' %}<span style="float: right;">$ {{ operacion.saldo | number_format(2,'.',' ') }}</span>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}