{% extends '_mdb/mdb_base.html.twig' %}

{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block pagetop_fluid %}
    {{ include ("_mdb/mdb_page_top_section.html.twig", {
        'title' : ('Entregar equipo') ~ (orden_trabajo.garantiaOrdenPrincipal ? ' (Post-garantía)'),
        'link' : {
            'back' : path('jornada_index'),
            'submit' : 'Confirmar'
        }
    }) }}
{% endblock %}

{% block body_fluid %}
    <div class="white">
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="clearfix">
                    <h5 class="col-12">Datos del cliente</h5>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Nombre(s) y apellidos</div> {{ orden_trabajo.clienteNombreCompleto }}</div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Carné de identidad</div> {{ orden_trabajo.clienteCarneIdentidad }}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Número(s) de contacto</div> {{ orden_trabajo.clienteTelefonosContacto }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="clearfix">
                    <h5 class="col-12">Datos de la orden</h5>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Número de orden</div> {{ orden_trabajo.nroOrden }}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Datos del equipo</div> {{ orden_trabajo.equipoTipo.nombre }} {{ orden_trabajo.equipoMarca }} {{ orden_trabajo.equipoModelo }}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Llegó al taller</div> {{ orden_trabajo.fechaEntrada | date('d-m-Y h:i:s a') }}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Asignado a</div> {{ orden_trabajo.tecnicoRepara.nombreCompletoCargo }}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Dictaminado por</div> {{ orden_trabajo.dictamenTecnico.createdBy.nombreCompleto }} / {{ orden_trabajo.fechaDictamen | date('d-m-Y h:i:s a')  }}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Revisado por</div>{% if orden_trabajo.ordenReparacion %} {{ orden_trabajo.ordenReparacion.createdBy.nombreCompleto is null ? orden_trabajo.ordenReparacion.createdBy.username : orden_trabajo.ordenReparacion.createdBy.nombreCompleto  }} / {{ orden_trabajo.fechaRevision | date('d-m-Y h:i:s a') }}{% else %}No se ejecutó una revisión{% endif %}</div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Listo para entregar desde</div>{{ orden_trabajo.fechaListoEntregar | date('d-m-Y h:i:s a') }}</div>
                    {% if orden_trabajo.ordenReparacion.diasGarantia != 0 %}<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Días de garantía</div>{% if orden_trabajo.ordenReparacion %}{{ orden_trabajo.ordenReparacion.diasGarantia }} día{{ orden_trabajo.ordenReparacion.diasGarantia == 0 or orden_trabajo.ordenReparacion.diasGarantia > 1 ? 's' }} a partir de hoy{% else %}No procede{% endif %}</div>{% endif %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-form"><div class="text-primary fw-500">Estado final</div>{{ orden_trabajo.observacionesFinales | traducirSiglas }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="clearfix">
                    <h5 class="col-12">Retroalimentación del cliente</h5>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-form">{{ form_row(form.observaciones) }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_end %}
    {{ form_row(form._token) }}
{% endblock %}
